/* navbar */
#logo {
    width: 8rem;
}

.navbar-light .navbar-nav .nav-link {
    font-weight:bold;
}

/* contéudo */
table {
    font-size: 0.8em;
}

.ts-hover:hover {
    background: rgb(219, 223, 223);
    transition: 0.5s;
    cursor: pointer;
}

.bg-blue {
    background-color: #115c8f;
}

.btn-green {
    background:#7cb93e;
    color:white;
}

.btn-green:hover {
    background:#78ad40;
    color:white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#115c8f;
}

h1{
    color:#333333;
}

.form-label{
    font-weight:bold;
}

.status-red {
    color: red;
    font-weight: bold;
}

.status-green {
    color: #78ad40;
    font-weight: bold;
}

/* footer */
footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media qurys */
@media (max-width: 575.98px) { 
    #logo{
        width: 5rem;
    }
}
